


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Vivian & Daniel</a>
        </div>

    <!-- /.container-fluid -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a href="/">Back</a>
            </li>
          </ul>
    </div>
                <!-- /.navbar-collapse -->
</div>

</nav>


<div class="container-fluid">

  <!-- Team Section -->
  <section id="team" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">BridesMaids</h2>
                  <br/>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/milien.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>Maid of Honor</h4>
                      </p>
                      <h3>My-Lien Voong</h3>
                      <p class="text-muted">Also know as the bride's BFF.  They met in high school because of a boy, and were on opposite rival cliques.  They soon shared their passion for fashion and beauty working together.  Lien is responsible for introducing the bride to import car shows & casinos.  Although they are thousands of miles apart, whenever the Bride's in town, they always have an amazing time.  Lien is happily engaged & in the craziness of planning her wedding for October 2016</p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/mary.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Mary Luu</h3>
                      <p class="text-muted">Originally from San Francisco, Mary & the bride met during the beginning of the rave era when they were in their teens.  Years later, Mary told the bride she will be moving to NYC to pursue her culinary dreams.  Since then they've been inseparable for events, partying & dinner dates.  Mary has helped the bride with multiple dinner party/foodie events with her expertise skills in hopes to one day open her own restaurant. </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/karma.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Karma Payden-Cua</h3>
                      <p class="text-muted">Karma is one of the bride's original girlfriends who she met since day one living in NYC.  Since the bride's decade journey in NYC, her and Karma have done everything partying, gambling in Reno, slumbers in NJ, weekend trip to Florida, dinners, halloween and many more.  Karma's happily married and currently residing in New Jersey, she has a passion for arts & crafts and DIY projects.  </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/nima.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Nima Sherpa</h3>
                      <p class="text-muted">Nima is also one of the bride's orginal girlfriends who she met since day one living in NYC.  Nima & the bride have spent their days partying, dressing up for halloween, trips to AC, Florida & Reno, and dinner dates especially hotpot. Nima & the bride can talk for hours about love, life, relationships etc.  </p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/rubina.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Rubina Pradhan</h3>
                      <p class="text-muted">Rubina & the bride met thru Nima several years back.  They spent a great amount of time partying, dressing up for halloween and trips to AC & Bermuda. Rubina ended up moving back to Denver for a few years and recently came back to NYC.  During their recent close friendship, Rubina has witnessed the bride & groom's relationship blossom from from beginning until now.  Rubina is a coder/programmer who creating this website all from scratch. </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/amanda.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Amanda Lai</h3>
                      <p class="text-muted">Amanda & the bride went to fashion school together.  Amanda moved back to Philly shortly after graduation but still manages to show up for the bride's birthday and other festivities.  They had fun times partying, dressing up for halloween & weekend trips to AC.  Amanda is currently the head of her family-owned recruitment firm.
</p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/evelyn.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Evelyn Lim</h3>
                      <p class="text-muted">Evelyn and the bride met thru a mutual friend also during the time they were at Juicy Couture.  Evelyn was finishing her Bachelors in fashion college while the bride was finishing her MBA. Evelyn- and the bride "has done everything" throughout their friendship, partying, dinners, trips, movies, cooking classes, etc.  They share a sisterly bond and even lived together for a bit.  Evelyn currently works in the Merchandising Division for Saks Fifth Avenue. </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/kelly.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Kellye Leung</h3>
                      <p class="text-muted">Kellye is also orginally from San Francisco who moved to NYC a few years ago.  During her time here they partied, had picnics in the park, strolled around NYC, enjoyed brunches & home cooked meals and slumber parties and her home.  Kellye is happily engaged & planning her 2017 wedding.  Kellye is also the bride's LIC neighbor & they spend thier summers in the park across the street with her 2 year old & their doggies.  They share a strong passion for fashion & Justin Beiber. </p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/milan.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Milan Manor</h3>
                      <p class="text-muted">Milan is originally from Los Angeles.  Her and the bride met thru a mutual friend when Milan moved to NYC.  They both have done everything NYC has to offer- broadway shows, movies, concerts, floral classes, dinner dates, etc.  Milan and the bride share a passion for fine arts, theatre, beauty and fashion.  Milan is an aspiring make up artist who's creative & always with a fun upbeat bubbly personality.  Her dog Gucci is one of the cutest pink dog you'll ever meet. </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/cher.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Cher Jia Sun</h3>
                      <p class="text-muted">Cher is currently in Asia pursuing her dreams as a singer/dancer. During her time in NYC her and the bride had countless dinner/dessert dates, celebrations, parties and girl talk.  Cher has been a supportive/caring friend despite both having busy schedules.  Although their friendships are miles apart, they always pick up wherever they left off.  </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/anna.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Anna Maokhamphiou-Powanich</h3>
                      <p class="text-muted">Funny that they met thru a guy, however Anna & the bride have been pen pals forever.  They spent their days dialing up triple 8 voice mails and recording their pager voice mails with freestyle music in the background.  Anna and the bride could talk on the phone forever, hours and hours on the landline phones (this was before cellphones).  The distance did disconnect them for a bit, but the bride was able to be there for her special day.  Anna is happily married with a son & daughter. </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/bridesmaid/loretta.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>BridesMaids</h4>
                      </p>
                      <h3>Loretta Luu</h3>
                      <p class="text-muted">is currently in San Francisco, California, but her & the bride met in NYC.  They spent countless hours chatting, partying, eating dinners & being there for one another.  Although Loretta moved back to San Francisco after her obtaining her Masters in Law at Columbia to work for the SFDA's office, the distance never affected their friendship.  Loretta is happily engaged & in the midst of planning her 2017 wedding!</p>
                  </div>
              </div>
            <div class="row">
              <div class="col-sm-6">
                  <div class="imp-member">
                      <img src="img/bridesmaid/kim.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>Honorary BridesMaids</h4>
                      </p>
                      <h3>Kim Le-Pham</h3>
                      <p class="text-muted">The bride's twins since high school.  Kim is happily married & just recently gave birth to a beautiful girl,  Eleanor.  Kim & the bride remained good friends despite the long distance.  Kim was responsible for letting the bride practice driving after work during their high school days.  They worked together for a short period of time and that's when they bonded most & shared great memories. </p>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="imp-member">
                      <img src="img/bridesmaid/annelis.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h4>Honorary BridesMaids</h4>
                      </p>
                      <h3>Annelis Sun-Hong</h3>
                      <p class="text-muted">Who knew that a road trip from SF to LA together & her monthly work trips to NYC would bring them so close together! Annelis has always been the sister/mother to the bride.  Taking care of her and always looking out.  Annelis is also happily married with recent baby boy, Navy.  Annelis and the bride enjoyed their monthly dinner dates in NYC & endless chats about fashion, love, life and travels.   </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-lg-offset-2 text-center">
                <a href="/groomsmen"><h3 class="section-subheading">Visit GroomsMen</h3></a>
              </div>
              <div class="col-lg-3 col-lg-offset-2 text-center">
                <a href="/flowergirls"><h3 class="section-subheading">Visit Flower Girls</h3></a>
              </div>
          </div>
      </div>
  </section>
</div>
