


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Vivian Daniel</a>
        </div>

    <!-- /.container-fluid -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a href="/">Back</a>
            </li>
          </ul>
    </div>
                <!-- /.navbar-collapse -->
</div>

</nav>


<div class="container-fluid">

  <!-- Team Section -->
  <section id="team" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Flower Girls</h2>
                  <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                      <h4>Kay Garland</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                      <h4>Larry Parker</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Diana Pertersen</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Diana Pertersen</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 3 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                      <h4>Kay Garland</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                      <h4>Larry Parker</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Diana Pertersen</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Diana Pertersen</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 3 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                      <h4>Kay Garland</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                      <h4>Larry Parker</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Diana Pertersen</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 2 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Diana Pertersen</h4>
                      <p class="text-muted">Vivian and Diana has been friends for 3 years</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
              </div>
          </div>
      </div>
  </section>
</div>
