<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent !important;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Vivian & Daniel</a>
        </div>

    <!-- /.container-fluid -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a href="/">Back</a>
            </li>
          </ul>
    </div>
                <!-- /.navbar-collapse -->
</div>

</nav>




   <link rel="stylesheet" href="/css/templatemo_misc.css">
   <link rel="stylesheet" href="/css/templatemo_style.css">
    <div class="site-slider" style="padding-top: 0 !important;">
        <ul class="bxslider">
            <li>
                <img src="img/slider/slide1.jpg" alt="slider image 1">
            </li>
            <li>
                <img src="img/slider/slide2.jpg" alt="slider image 2">
            </li>
            <li>
                <img src="img/slider/slide3.jpg" alt="slider image 3">
            </li>
            <li>
                <img src="img/slider/slide4.jpg" alt="slider image 4">
            </li>
            <li>
                <img src="img/slider/slide5.jpg" alt="slider image 5">
            </li>
            <li>
                <img src="img/slider/slide6.jpg" alt="slider image 5">
            </li>
        </ul> <!-- /.bxslider -->
        <div class="bx-thumbnail-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="bx-pager">
                            <a data-slide-index="0" href=""><img src="img/slider/thumb1.jpg" alt="image 1" /></a>
                            <a data-slide-index="1" href=""><img src="img/slider/thumb2.jpg" alt="image 2" /></a>
                            <a data-slide-index="2" href=""><img src="img/slider/thumb3.jpg" alt="image 3" /></a>
                            <a data-slide-index="3" href=""><img src="img/slider/thumb4.jpg" alt="image 4" /></a>
                            <a data-slide-index="4" href=""><img src="img/slider/thumb5.jpg" alt="image 5" /></a>
                            <a data-slide-index="4" href=""><img src="img/slider/thumb6.jpg" alt="image 5" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.site-slider -->

   <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
   <script src="js/jquery.easing-1.3.js"></script>
   <script src="js/bootstrap.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>
