


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Vivian & Daniel</a>
        </div>

    <!-- /.container-fluid -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a href="/">Back</a>
            </li>
          </ul>
    </div>
                <!-- /.navbar-collapse -->
</div>

</nav>


<div class="container-fluid">

  <!-- Team Section -->
  <section id="team" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">GroomsMen</h2>
                  <br/>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/johnchan.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>Best Man</h5>
                      </p>
                      <h4>John Chan</h4>
                      <p class="text-muted">John has been the grooms friend since the 1st grade.  Despite his love of golf, and any sports involving round objects, John has managed to get married and have two beautiful daughters.  Dan and John have shared many life experiences, including John’s romantic interest in Wonder Woman.  Naturally, the fictitious event must come to a conclusion, after Dan has convinced over 1000 of John’s friends and family of its validity during a 15 year run.  John enjoys long walks on the beach alone, since Dan is busy with his beautiful bride.</p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/billbrown.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Bill Brown</h4>
                      <p class="text-muted">Bill Brown and the Groom were Bouncers, back in the day when bad people often found themselves falling off stairs or through windows of moving vehicles.  When they met, Dan dubbed the name “Downtown Billy Brown” which Bill denies to this day.   The name comes not from Bill’s affinity for lifting vehicles as workout, but because of the direction people fell when people refused to get off of the speakers.  We all know his muscles really come from lifting his fur baby, Paco, because he has to give him lots of kisses.</p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/juansan.png" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Juan Sanchez</h4>
                      <p class="text-muted">Juan Sanchez and the Groom met at work.  They have become good friends who have too many stories that can’t be publicly shared until the statute of limitations runs out.  As a result of having “too much dirt” on each other, the Groom just shared that he is a good dude, family man, and always has his back.</p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/bill.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Dan Daniels</h4>
                      <p class="text-muted">Dan Daniels and the Groom met through the Groom’s sister, Racy.  He is retired law enforcement who is dedicated to working in the communities not only with youth but numerous other social services.  Besides the fact they are a tongue twister when together “Daniel and Dan Daniels” they often break bread while exploring each other’s “good eats” places.  Dan is one of those guys that everyone wants to spend time with.  </p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/davecip.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Dave “Firefighter Dave”</h4>
                      <p class="text-muted">Dave “Firefighter Dave” Ciappara were bouncers together.  He is currently a Captain of Firefighters.  Urban Legends tell of a time when vehicles were known to go airborne and land in trees above the water at Candlestick Point.  They share many stories and intertwined pasts, yet somehow they both managed to come out for the best.   </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/dave.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Wei-Hsu Chen</h4>
                      <p class="text-muted">Wei-Hsu Chen and the Groom became friends in high school.  A high point in their friendship includes when the Groom helped out as a last minute fill-in, and together with other friends they performed the nerdy high school version of Y.M.C.A. in front of 2500 people.  Another turning point, which gave Wei his current nickname “Wet Suit” came not from his unstoppable perspiration, but from from an annual multicultural festival which they organized.  During this event they both volunteered to have pies made of cream thrown at them to raise money for something not really important.  For some reason Wei was the top money maker.  By the end of the day, Wei was covered head to toe in heavy whipping cream from the pies.  When they were informed that “creamed pie” was not a politically correct nickname, he earned his P.C. nickname “Wet Hsu.”</p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/hung.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>William “Bill” Griffin</h4>
                      <p class="text-muted">William “Bill” Griffin and the Groom met when Bill was in the field training program at OPD. The Groom liked to “test’ the trainees.  One cool summer evening, no less than 100 degrees, the Groom decided to see if Bill was good at chasing people.  As the stolen car they were “following” at no more than 60 mph down Peralta Street, was not able to avoid the light pole that suddenly placed itself on the sidewalk, they started pursuing the suspect on foot.  The Groom, who had just had his lunch and just wanted to critique his trainee, decided to hop back in their patrol car and follow, while taking notes, on the 1.5 mile 13-minute foot chase.  When the suspect and Bill both ran out of energy in the middle of the street and started holding each other up for support, the Groom stopped the patrol car next to them.  He then calmly stepped out and told Bill “Not bad.  I got this from here” and handcuffed the suspect.  </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/hungnyugen.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Hung “Hungy” Nguyen</h4>
                      <p class="text-muted">Hung “Hungy” Nguyen and the Groom became BFFS when they worked together on the Sideshow Task Force.  They partnered up and shared a daily routine which included dinner, coffee, lunch, coffee, BBQ in the parking lot at work, coffee, and then going home to go it again the next day.  Miraculously, they were still able to find time for other sporty events, including the only time the Groom ever tried a cigar.  For some reason, certainly accidental, none of the 10 other officers present warned him not to inhale.  As a result, the groom was found vomiting in the OPD shower at the beginning of their next shift, because he had been too sick to drive home.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/anonymous.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Bryant Ocampo</h4>
                      <p class="text-muted">Bryant Ocampo and the Groom became good friends at work.  Their main connection was their affinity for extracurricular activities, which included working overtime for “Warren” the God Father of the Groom’s daughters.  Despite numerous bar brawls, and the Grooms several attempts to offer Bryant as a Police Stripper, they have always remained loyal friends.</p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/juan.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Ouseng “OZ” aka “Flying Drop Kicker”</h4>
                      <p class="text-muted">Ouseng “OZ” aka “Flying Drop Kicker” Saeparn and the Groom became good friends at work.  They shared many interesting business transactions including the sales of a house, a car, and multiple appliances.  During one occasion, Ouseng’s cousin went to the Emergency Room after unsuccessfully attempting the Groom’s “Devil’s Tongue” challenge.  During one Halloween, Ouseng mistook the grooms joke and dressed up like a pirate at work.  To this day, legend tells of the pirate walking around the OPD locker room muttering “rusty hook.”  He is also known for his superior ability to find crack in the middle of busy intersections.</p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/alan.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Jeff “Uncle” Tom</h4>
                      <p class="text-muted">Jeff “Uncle” Tom met the Groom at work.  They are unable to work together because nothing gets done when they start talking.  One coworker referred to overhearing their conversation as making them want to poke their eardrums out, and not being able to get the vulgar thoughts burned from their memory.  None of their nicknames for each other are publically appropriate.  They served on the Oakland Asian Police Officer’s Executive Board, where combined they got pretty much nothing done.  </p>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/groomsmen/allan.jpg" class="img-responsive img-circle" alt="">
                      <p class="bg-name">
                        <h5>GroomsMan</h5>
                      </p>
                      <h4>Alan “A.Yu A.Me” Yu</h4>
                      <p class="text-muted">Alan “A.Yu A.Me” Yu and the Groom met at work.  They have too many stories they can’t share, mostly because Alan is the ranking commander of internal affairs.  This doesn’t mean that Ouseng won’t tell if you ask him, but he doesn’t want to get hit by the bus so ask him discreetly.   Alan is the first Asian man the Groom met who couldn’t ride a bicycle without wearing full motocross gear for safety reasons.  They have shared numerous wasted evenings playing first person shooters and trash talking to kids who are better than them.  </p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-lg-offset-2 text-center">
                <a href="/bridesmaids"><h3 class="section-subheading">Visit BridesMaids</h3></a>
              </div>
              <div class="col-lg-3 col-lg-offset-2 text-center">
                <a href="/flowergirls"><h3 class="section-subheading">Visit Flower Girls</h3></a>
              </div>
          </div>
      </div>
  </section>
</div>
